<html>
    <head>
        <h1>Mustafa's Website</h1>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
    </head>
    <body>
        {% for name in content %}
            <p>{{name}}</p>
            {% if name == 'Mustafa' %}
                <h2>{{name}} is Dad</h2>
            {% endif %}
        {% endfor %}
        
        {% block content %}
        {% endblock %}
    </body>
</html>



